@model mahjop.ViewModels.DocAppViewModel
@{
    ViewData["Title"] = "Home Page";
     Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TABIBK</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
        
    <!-- Favicon -->
    <link href="~/images/hospital-doctor-detector-virus-medical-mask-care-svgrepo-com.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Doctoer/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Doctoer/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Doctoer/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Doctoer/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Doctoer/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
   
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0" style="color:#80ed99">  <img src="~/images/hospital-doctor-detector-virus-medical-mask-care-svgrepo-com.png" class="ic" />TABIBK</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link active">Home</a>
                <a asp-action="Our_Doctor" asp-controller="Home" class="nav-item nav-link">Our Doctor</a>
                <a asp-action="Our_Lab" asp-controller="Home" class="nav-item nav-link">Our lAB</a>
                <a asp-action="Our_pharmacy" asp-controller="Home" class="nav-item nav-link">Our Pharms</a>
              
            </div>
 <partial name="_LoginPartial" />
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Header Start -->
    <div class="container-fluid header  p-0 mb-5 cc">
        <div class="row g-0">
           <div class="col-6">
               <h1 class="txhed ">
                    Tabibk is dedicated to providing exemplary healthcare services and support to individuals in need.
                </h1>
           </div>
            <div class="col-6">
                <img src="~/images/vecteezy_doctor-character-illustration_21360193.png" class="pricc" alt="cc" />
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded ss w-75 align-self-end" src="~/Doctoer/img/about-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
                    <h1 class="mb-4">Why Trust "Tabibk"? Get to Know Us!</h1>
                    <p>"Tabibk" is dedicated to providing exemplary healthcare services and support to individuals in need. Our mission is to ensure access to quality medical care for all patients, facilitating a healthier and happier community.</p>
                    <p class="mb-4">We believe in fostering trust through transparency and professionalism. Our team consists of highly qualified doctors and medical professionals who are committed to delivering compassionate care and innovative solutions.</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Committed to Quality Health Care</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Qualified and Experienced Medical Professionals</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Emphasis on Medical Research and Innovation</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
                <h1>Health Care Solutions</h1>
            </div>
            <div class="row g-4">
                @foreach (var item in Model.Departments)
                {

                    <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="0.1s">
                        <div class="service-item bg-light  h-100 p-5 servise">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4 " style="width: 65px; height: 65px;">
                                @if (item.DepartmentPicture != null && item.DepartmentPicture.Length > 0)
                                {
                                    <img src="data:image;base64,@Convert.ToBase64String(item.DepartmentPicture)" alt="Department Image" style="width: 100%; height: 100%; object-fit: cover;border-radius:50%">
                                }
                                else
                                {
                                    <img src="~/images/no_image.jpg" alt="Department Image" style="width: 100%; height: 100%; object-fit: cover;">
                                }
                            </div>
                            <h4 class="mb-3">@item.Name</h4>
                            
                            <a class="btn" asp-action="Department_Doctor" asp-controller="Home" asp-route-id="@item.DepartmentId"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                        </div>
                    </div>

                } 
            </div>
        </div>
    </div>
    <!-- Service End -->
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
                <h1>Our Experience Doctors</h1>
            </div>
            <div class="row g-4">
                @foreach (var item in Model.Doctors)
                {
                    if (item.Rating>=    7)
                    {

                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a asp-action="Details_Our_Doctor" asp-controller="Home" asp-route-id="@item.DoctorId">
                                <div class="team-item position-relative rounded overflow-hidden">
                                    <div class="overflow-hidden">
                                        @if (item.DoctorPicture != null && item.DoctorPicture.Length > 0)
                                        {
                                            <img class="img-fluid" src="data:image;base64,@Convert.ToBase64String(item.DoctorPicture)" alt="Doctor Image">

                                        }
                                        else
                                        {
                                            <img class="img-fluid" src="~/images/no_image.jpg" alt="Doctor Image">
                                        }
                                    </div>
                                    <div class="team-text bg-light text-center p-4">
                                        <h5>@item.NameDoctor</h5>
                                        @if (item.Department != null)
                                        {
                                            <p class="text-primary">@item.Department.Name</p>
                                        }
                                        <div class="team-social text-center">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                    }





                }
            </div>
        </div>
    </div>
    <hr />
    <!-- Team End -->
    <footer>
        <div class="footer-content footers">
         
            <p>Copyright &copy; 2024.Tabibk</p>
            
        </div>
    </footer>

  
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Doctoer/lib/wow/wow.min.js"></script>
    <script src="~/Doctoer/lib/easing/easing.min.js"></script>
    <script src="~/Doctoer/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Doctoer/lib/counterup/counterup.min.js"></script>
    <script src="~/Doctoer/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Doctoer/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Doctoer/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Doctoer/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    
    <script src="~/Doctoer/js/main.js"></script>
</body>

</html>