@model IEnumerable<mahjop.Models.WorkingHours>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Working Hours</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info" asp-route-doctorId="@ViewBag.doctorId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
           
            <td>
                    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@item.WorkingHoursId">Edit</a> 
                    <a asp-action="Details" class="btn btn-outline-success" asp-route-id="@item.WorkingHoursId">Details</a> 
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.WorkingHoursId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
